//Extra large
@media only screen and (max-width : 1200px){

}

//Large
@media only screen and (max-width : 992px){

}

//Medium
@media only screen and (max-width : 768px){

}

//Small
@media only screen and (max-width : 576px){

}