.rb {
  border: 1px solid red;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rtl {
  direction: rtl;
}

:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
}
.bg-img.img-cover {
  background-size: cover;
}
.bg-img.img-contain {
  background-size: contain;
}

button:focus {
  outline: none !important;
}

.sticky {
  transition: all 0.5s;
}
.sticky.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99999;
  animation-name: stickyHeader;
  animation-duration: 0.5s;
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  direction: rtl;
  overflow-x: hidden;
}

.wpcf7-form .wpcf7-form-control-wrap {
  display: block;
  position: relative;
}
.wpcf7-form ::placeholder {
  color: #000 !important;
  font-size: 17px;
  opacity: 1;
}
.wpcf7-form .wpcf7-not-valid-tip {
  left: 0 !important;
  top: 0 !important;
  right: auto !important;
  height: 100%;
  width: 50%;
  font-size: 13px;
  line-height: 1;
  text-align: left;
  border: none;
  background: transparent;
}
.wpcf7-form br {
  display: none;
}
.wpcf7-form span {
  display: block;
  position: relative;
}
.wpcf7-form span .wpcf7-not-valid-tip {
  left: 0 !important;
  right: auto !important;
  width: 50%;
  top: 0 !important;
  height: 100%;
  border: none;
  background: red !important;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.wpcf7-form input, .wpcf7-form select {
  width: 100%;
  display: block;
}
.wpcf7-form input[type=submit], .wpcf7-form select[type=submit] {
  width: 100%;
  border: none;
  color: #000;
  background-repeat: no-repeat;
  cursor: pointer;
}

body {
  font-size: 12px;
}

/*# sourceMappingURL=styles.css.map */
